@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

$font_family : 'Corinthia', cursive;
$font_letter : 'Playfair Display', serif;

// break point screen
$width-sm : 576px;
$width-md : 768px;
$width-lg : 992px;
$width-xl : 1200px;

//Card title color
$card-title-color : #288ad6;
$start-color : #fb6e2e;

// gap 
$gap : 5px;



